<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" th:href="@{/styles/style.css}" />

    <title>Category</title>
</head>

<body>
    <div class="container">
        <main>

            <section>
                <h1 th:text="'Category: ' + ${category.name}"></h1>
                <p th:text="${category.description}"></p>
                
                <h3>Related Reviews</h3>

                <div th:each="review : ${category.reviews}">
                    <ul id="cat-list">
                        <li>
                            <img class= "imageCat" th:src="@{${review.imageUrl}}" />
                            <a th:href="@{review(id=${review.id})}" th:text="${review.title}"></a>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
        <nav id="Nav">
            <div>
                <a href="./show-reviews">Reviews</a>
                <a href="/show-categories">Categories</a>
            </div>
        </nav>
        <footer class="classFooter">
            <small>&copy; 2018 Satavisha Roy </small>
        </footer>
    </div>
</body>
</html>    