<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" th:href="@{/styles/style.css}" />

    <title>Category</title>
</head>

<body>
    <div class="container">
        <main>

            <section>
                    <h1 th:text="'Category: ' + ${category.name}"></h1>
                <p th:text="${category.description}"></p>
                
                <h3>Related Reviews</h3>

                <div th:each="review : ${category.reviews}">
                    <ul>
                        <li>
                            <img th:src="@{${review.imageUrl}}" />
                            <a th:href="@{review(id=${review.id})}" th:text="${review.title}"></a>
                        </li>
                    </ul>
            </section>

        </main>
    </div>
</body>
</html>    