<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head> 
 	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/styles/style.css}" />
    
    <title>Tag</title>
</head>

<body>
	<div class="container">
		<main>

			<section>
				<div th:each="tag: ${tags}">
					<h1 th:text=" 'Tag: ' + ${tag.name}"></h1>
				</div>

				<h3>Associated Reviews</h3>

				<div th:each="review: ${tags.reviews}">
					<ul>
						<li><a th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a></li>
					</ul>
				</div>
			</section>
		
		</main>

		<nav id="Nav">
                <div class="mainNav">
                    <a href="./show-reviews">Reviews</a>
                    <a href="/show-categories">Categories</a>
                    <a href="/show-tags">Tags</a>
                </div>
        </nav>
		<footer class="classFooter">
           <small>&copy; 2018 Satavisha Roy </small>
        </footer>
	</div>
	<script src="../script.js" th:href="@{/script.js}"></script>

</body>
</html>