<html>

<head>
	<title>Tags Page</title>



</head>

<body>
<div class="container">
	<header>
		<h1>Tags Page</h1>
	</header>

<div>
	<section class="add-tag">
		<input type="text"/>
		<button>Submit Tag</button>
	</section>
	
	<section class="remove-tag">
		<input type="text"/>
		<button>Remove Tag</button>
	</section>

	<section class="tags-list">
		<h2>Here is a list of our current tags: </h2>
		<ul>
			<li th:if="${tags.size() == 0}">There are currently no tags. Please add one!</li>
			<li th:if="${tags.size() != 0}" th:each="tag: ${tags}">
				<a th:href="@{/tag(id=${tag.id})}" th:text="${tag.name}"></a>
			</li>
		</ul>
	</section>
</div>

</div> <!-- container -->



	<script src = "./js/server-requests.js"></script>
</body>
</html>